# Python
__pycache__/
*.pyc
db.sqlite3
.env # Arquivo de variáveis de ambiente local

# Node
node_modules/
build/
dist/

# Docker
.dockerignore

# Logs
*.log

# Roteiros e Documentação
PASSO_A_PASSO.md
